extends layout

block content
    .container
        .row
            .col-12
                h1.text-center= title
        .row
            .col-6.text-center
                .btn-group
                    a.btn.btn-success(href="/registro/form") Registrar ingreso
                    a.btn.btn-warning(href="/registro/list") Registrar salida
            .col-6.text-center
                .btn-group
                    a.btn.btn-primary(href="") Lista de ingreso
                    a.btn.btn-info(href="") Lista de salida
