extends ../layout

block content
    .container
        .row
            .col-12
                form(action="/precio/form" method="post")
                    .form-group.row
                        .col-6
                            label(for="nombre") Nombre
                            input.form-control(type="text" name="nombre" placeholder="Nombre al precio" required)
                        .col-6
                            label(for="precio") Precio
                            input.form-control(type="number" name="precio" placeholder="Ingresa precio" required)
                    .form-group.row
                        .col-12
                            label(for="descripcion") Descripcion
                            textarea(name="descripcion" class="form-control" placeholder="Ingresa una Descripcion")
                    button(type="submit", class="btn btn-primary") Guardar                                